<div class="wrapper" fxLayout="row">
	<nav class="wrapper__section wrapper__section--dark" fxFlex="300px">
		<toybox-users></toybox-users>
	</nav>

	<main class="wrapper__section" fxFlex fxLayout="column">
		<div fxFlex="50px">
			<toybox-status></toybox-status>
		</div>

		<div class="chat" fxFlex fxLayout="column">
			<div class="chat__log" fxFlex></div>
			<div class="chat__input">
				<div class="input-container">
					<input
						class="input-container__input"
						placeholder="Press enter to send a message"
						[formControl]="messageForm"
						(keyup)="onEnter($event)"
					/>
				</div>
			</div>
		</div>
	</main>
</div>
