<ul class="log-list">
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					ファイルとリンク、テキストの関連付け（ファイルを移動すると全て同時に移動する）をしたいというニーズ
					<br />
					Topic: Linking text (notes & web links) with images <br />
					<a href="https://www.pureref.com/forum/read.php?3,2218" target="_blank" rel="noopener"
						>https://www.pureref.com/forum/read.php?3,2218</a
					>
					<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					ファイルとリンク、テキストの関連付け（ファイルを移動すると全て同時に移動する）をしたいというニーズ
					<br />
					Topic: Linking text (notes & web links) with images <br />
					<a href="https://www.pureref.com/forum/read.php?3,2218" target="_blank" rel="noopener"
						>https://www.pureref.com/forum/read.php?3,2218</a
					>
					<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					ファイルとリンク、テキストの関連付け（ファイルを移動すると全て同時に移動する）をしたいというニーズ
					<br />
					Topic: Linking text (notes & web links) with images <br />
					<a href="https://www.pureref.com/forum/read.php?3,2218" target="_blank" rel="noopener"
						>https://www.pureref.com/forum/read.php?3,2218</a
					>
					<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1189944473016504320/fgJkS5RX_400x400.jpg" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					サービス概要： <br />
					画像や対応ファイルのリンクを共有すると、クラウド側で自動的に保存し、一覧で確認することができるプラットフォーム<br />
					<br />
					できること：<br />
					PC版はChromeやFirefoxの拡張機能を用いて、サイト上の画像リンクをサービスに投げるようにし、<br />
					サービス側のクラウドストレージに蓄積させていく。ユーザーはダッシュボードで画像を一覧で確認できる。<br />
					ファイルのソートやジャンル分け等は、機械学習などで行い、利便性をあげる<br />
					<br />
					利点：<br />
					画像資料を集中的に一つのプラットフォームで管理できる。<br />
					canvas-eveと連携させ、必要な資料画像を即座にキャンバス上に展開できる。<br />
					<br />
					類似サービス：<br />
					pinterest<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					一通り触った印象としては、<br />
					Eagleは資料を参照するツールというよりは「管理」するツール。つまり、私たちが構想するプラットフォームにおいては、ストレージもしくはボード機能<br />
					[05:40] 一方、PureRefは資料を管理するというよりは「参照」するツール。キャンバス機能がそれに相当する
					<br />
				</div>
			</div>
		</div>
	</li>

	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					ファイルとリンク、テキストの関連付け（ファイルを移動すると全て同時に移動する）をしたいというニーズ
					<br />
					Topic: Linking text (notes & web links) with images <br />
					<a href="https://www.pureref.com/forum/read.php?3,2218" target="_blank" rel="noopener"
						>https://www.pureref.com/forum/read.php?3,2218</a
					>
					<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					ファイルとリンク、テキストの関連付け（ファイルを移動すると全て同時に移動する）をしたいというニーズ
					<br />
					Topic: Linking text (notes & web links) with images <br />
					<a href="https://www.pureref.com/forum/read.php?3,2218" target="_blank" rel="noopener"
						>https://www.pureref.com/forum/read.php?3,2218</a
					>
					<br />
				</div>
			</div>
		</div>
	</li>
	<li class="log-list__item">
		<div class="log-item" fxLayout="row" fxLayoutAlign="start start">
			<div class="log-item__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="log-item__content" fxFlex>
				<div class="log-item__content__name">chirurimu</div>
				<div class="log-item__content__post">
					一通り触った印象としては、
					Eagleは資料を参照するツールというよりは「管理」するツール。つまり、私たちが構想するプラットフォームにおいては、ストレージもしくはボード機能(編集済)
					[05:40] 一方、PureRefは資料を管理するというよりは「参照」するツール。キャンバス機能がそれに相当する
					<br />
				</div>
			</div>
		</div>
	</li>
</ul>
