<div class="create-room" *ngIf="isCreateRoom">
	<div class="create-room_title">Create a Room</div>
	<div class="create-room_room-name">
		<form #formCheck="ngForm" [formGroup]="createRoomForm">
			<label for="room-name">Room name</label>
			<ng-container *ngIf="isShowErrors">
				<div [hidden]="!roomNameControl.errors?.required">The name is required</div>
			</ng-container>
			<input type="text" name="room-name" id="room-name" [formControl]="createRoomForm.controls['roomName']" />
			<input type="button" value="create" (click)="createRoom()" [disabled]="!isButtonEnabled" />
		</form>
	</div>
</div>
