<div class="app-title">
	<h1 class="app-title__content" fxLayout="row" fxLayoutAlign="space-between center">
		<span>ChatApp</span>
		<fa-icon [icon]="faChevronDown" [fixedWidth]="true" size="sm"></fa-icon>
	</h1>
</div>

<div class="users">
	<h1 class="users__title">In Room-2</h1>

	<div class="users__list">
		<ul class="user-list">
			<li class="user-list__user-profile">
				<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
					<div class="user-profile__icon">
						<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
					</div>
					<div class="user-profile__name">NkiHrk</div>
				</div>
			</li>
			<li class="user-list__user-profile">
				<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
					<div class="user-profile__icon">
						<img src="https://pbs.twimg.com/profile_images/1189944473016504320/fgJkS5RX_400x400.jpg" alt="icon" />
					</div>
					<div class="user-profile__name">QU00h</div>
				</div>
			</li>
		</ul>
	</div>
</div>
