<div class="app-title">
	<h1 class="app-title__content" fxLayout="row" fxLayoutAlign="space-between center">
		<span>ChatApp</span>
		<fa-icon [icon]="faChevronDown" [fixedWidth]="true" size="sm"></fa-icon>
	</h1>
</div>

<div class="users">
	<h1 class="users__title">In Room</h1>

	<div class="users__list">
		<ul class="user-list">
			<li class="user-list__user-profile" *ngFor="let user of users | keyvalue">
				<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
					<div class="user-profile__icon">
						<img src="user.value.icon" alt="icon" />
					</div>
					<div class="user-profile__name">{{ user.value.username }}</div>
				</div>
			</li>
		</ul>
	</div>
</div>
