<h1 class="user-list-title">In Room</h1>

<ul class="user-list">
	<li class="user-list__user-profile">
		<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
			<div class="user-profile__icon">
				<img src="https://pbs.twimg.com/profile_images/1228057595237163008/UngMPY83_400x400.png" alt="icon" />
			</div>
			<div class="user-profile__name">Chirurimu</div>
		</div>
	</li>
	<li class="user-list__user-profile">
		<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
			<div class="user-profile__icon">
				<img src="https://pbs.twimg.com/profile_images/1189944473016504320/fgJkS5RX_400x400.jpg" alt="icon" />
			</div>
			<div class="user-profile__name">QU00h</div>
		</div>
	</li>
	<li class="user-list__user-profile">
		<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
			<div class="user-profile__icon">
				<img src="https://pbs.twimg.com/profile_images/1125468347838033920/JG7rnsXd_400x400.png" alt="icon" />
			</div>
			<div class="user-profile__name">えびふりゃ</div>
		</div>
	</li>
</ul>
